
img {
  width: 100px;
  height: 100px;
  margin-left: 230px;
 vertical-align: middle;
}

.error {
  color: red;
}

span {
  margin-right: 5px;
}

h1 {
  font-style: italic;
  font-size: 35px;
  font-weight:4000;
}

a,button {
  margin: 5px;
}


/* tr,div {
  height: 20px;
} */






