
img {
  width: 100px;
  height: 100px;
  margin-left: 230px;
 vertical-align: middle;
}

.error {
  color: red;
}

span {
  margin-right: 10px;
}

h1 {
  font-style: italic;
  font-size: 35px;
  font-weight:4000;
}

a,button, label{
  margin: 5px;
}

label {
  font-size: 15px;
   color:black;
  font-weight: 400;
  margin: 10px;
}


/* .filter__value-container{
  height: 35px;
  width: 100px;
 }

 .select-border{
   width: 200px;
 } */
/*  .options-select {
  overflow: ellipsis
} */
/* tr,div {
  height: 20px;
} */






