/* .App {
  text-align: center;
}
 */


@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

img {
  width: 100px;
  height: 100px;
  margin-left: 230px;
 vertical-align: middle;
}

